@import url('../fonts/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*    
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/* common css */
html{overflow-x: hidden;}
body{font-family: 'Overpass', sans-serif;overflow-x:hidden;}
a:hover{text-decoration:none;}
h1{color:#111111;font-size:90px;font-family: 'Overpass', sans-serif;font-weight:800;margin-bottom:30px;line-height: 108px;}
h2{font-family: 'Overpass', sans-serif;font-weight:700;font-size:60px;color:#111111;margin:0px;margin-bottom:30px;line-height: 72px;}
h2 span{color:#c04ae2;font-family: 'Overpass', sans-serif;font-weight:700;text-transform: uppercase;font-size: 24px;display: block;letter-spacing: 2px;}
h3{font-family: 'Overpass', sans-serif;color:#111111;font-size:30px;margin:0px;line-height: 42px;margin-bottom: 25px;} 
h5{color:#111111;font-size:24px;font-family: 'Overpass', sans-serif;font-weight:800;margin-bottom: 20px;}
p{color:#5e5858;font-size:20px;font-family: 'Overpass', sans-serif;line-height:28px;margin-bottom:30px;}
.btn-default {color: #fff;background:#c04ae2;box-shadow:none;font-weight: 500;font-size:16px; padding: 10px 22px;transition: 0.3s;text-shadow: none;text-transform: uppercase;border:2px solid transparent;border-radius:5px;font-family: 'Overpass', sans-serif;} /*black Button*/
.btn-default:hover,.btn-default:focus,.btn-default:active:hover{background-color:#111111;border-color:#111111;color:#fff;}
.btn-outline{background:transparent;border:1px solid #c04ae2;color:#111111;padding:13px 38px;font-weight:500;}
.btn-outline:hover{background-color: #c04ae2;border-color:#c04ae2;}
ul{list-style:none;padding:0px;color:#5e5858;font-size:18px;font-family: 'Roboto', sans-serif;line-height:36px;margin-bottom:30px;}
ul li{display:flex;}
ul li a{color: #5e5858;}
.secmargin{padding:150px 0px;}
.form-control{background-color: #fff;border:none;box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);color: #999999;}
h4.red{color: #fe6686;}
h4.green{color: #54d6a1;}
h4.orange{color: #fe9a3f;}
h6.goto{font-weight: 800;text-align: center;color: #111111;position: relative;display: inline;font-size: 18px;}
h6.goto a{color: #111111;transition: 0.2s ease;}
h6.goto:hover a{color: #c04ae2;}
.fa-facebook{color: #3b5998;}
.fa-twitter{color: #1da1f2;}
.fa-youtube-play{color: #ff1e00;}
.fa-instagram{color: #dd4b39;}
@media (max-width:767px){
    .secmargin{padding:70px 0px;}
    h2{font-size: 35px;line-height: 50px !important;}
    h2 span{font-size: 18px;}
}

/*Navigation*/
/*#navigation{position:absolute;width:100%;top:0;z-index:1;}*/
#navigation .navbar-default{background-color:transparent;border-color:transparent;background-image: none;box-shadow: none;border-radius:0px;}
#navigation .navbar{margin-bottom:0;}
#navigation .navbar-default .navbar-nav > li > a{font-family: 'Overpass', sans-serif;font-size:20px;color:#111111;text-transform:capitalize;text-shadow:none;font-weight:500;transition:0.2s ease-in;}
#navigation .navbar-default .navbar-nav > li > a:hover{color:#111111;}
#navigation .navbar-default .navbar-nav > .active > a, #navigation .navbar-default .navbar-nav > .active > a:focus, #navigation .navbar-default .navbar-nav > .active > a:hover{background-color:transparent;color:#111111;background-image:none;box-shadow:none;}
#navigation .navbar-right{margin-top: 28px;margin-bottom: 20px;}
#navigation .nav > li > a{padding:10px 20px;}
#navigation .navbar-default .navbar-nav > li::before{display:none;}
#navigation .navbar-brand{margin-top: 12px;}
#navigation .navbar-default .navbar-nav > li:nth-child(7) > a{padding:10px 40px;margin-left:10px;font-size: 18px;border:2px solid #c04ae2;border-radius: 4px;margin-top: -2px;margin-right: 20px;font-weight: 700;}
#navigation .navbar-default .navbar-nav > li:nth-child(7) > a:hover{background-color: #c04ae2;color: #fff;}
#navigation .navbar-default .navbar-nav > li:nth-child(n+8) a{padding: 8px 10px;}

@media (min-width: 992px) and (max-width: 1199px) {
    #navigation .nav > li > a{padding: 10px 12px;font-size: 19px !important;}
    #navigation .navbar-default .navbar-nav > li:nth-child(7) > a{padding: 8px 12px;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand{width:100%;}
    .navbar-header{float:unset;}
    #navigation{position: relative;z-index: 2;}
    #navigation .navbar-default .navbar-nav > li > a{font-size: 17px;}
    #navigation .nav > li > a{padding: 10px 10px;}
    #navigation .navbar-right{float:none !important;margin-top:35px;margin-bottom:0;padding: 15px 0px;}
    #navigation .navbar-default .navbar-nav > li:nth-child(7) > a{padding: 8px 10px;}
    #navigation .navbar-default .navbar-nav > li:nth-child(n+8) a{padding: 8px 8px;}

}

@media screen and (max-width: 767px) {
    .navbar-toggle{margin-top:30px;margin-right: 24px;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-top: 20px;background-color: #fff;border:none;box-shadow:none;z-index: 1;position: absolute;width: 100%;}
    #navigation .navbar-default .navbar-nav > li > a{text-align:center;font-family: 'Overpass', sans-serif;margin: 5px 0px;}
    #navigation .navbar-right{margin-top:10px;margin-bottom:15px;}
    #navigation .navbar-default .navbar-toggle{border:none;}
    #navigation .navbar-default .navbar-toggle .icon-bar{background-color:#c04ae2;}
    #navigation .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background:transparent;}
    #navigation .navbar{border:none;}
    #navigation .navbar{padding-bottom:20px;}
    #navigation .navbar-default .navbar-nav > li:nth-child(n+8){display: inline-block;margin: 0 6.5%;}
    #navigation .navbar-default .navbar-nav > li:last-child > a{margin-left:0px;}
    #navigation .navbar-default .navbar-nav > li:last-child > a:hover{color:#111111;}
    #navigation .navbar-default{background:#fff;}
}

/* home */
#banner img{margin-top:80px;}
#banner{background:url(../../assets/img/bannerbg.png) top center no-repeat;margin-top:-95px;padding: 250px 0px 120px;height:auto;background-size:cover;}
#banner p{font-size:30px;color:#5e5858;line-height: 36px;}
#banner .carousel-indicators .active{border:2px solid #00c6b5;background-color: transparent;width: 15px;height: 15px;}
#banner .carousel-indicators{background-color: transparent;}
.carousel-indicators li{width: 15px;height: 15px;border:2px solid #fff;}
@media (min-width:992px) and (max-width:1199px){
    #banner{padding:50px 0px 90px;}
    #banner .banner-buttons .btn3{position:relative;top:30px;}
}
@media (min-width:768px) and (max-width:991px){
    #banner .banner-buttons{margin-bottom:50px;}
    #banner{margin-top:-205px;padding:30px 0px 50px;z-index: 1;text-align:center;}
    h1{font-size: 60px;line-height: 88px;margin:50px 0 20px;}
    #banner p{font-size: 20px;}
}
@media (max-width:767px){
    #banner img{margin-top:Z0px;}
    #banner{text-align:center;padding: 150px 0px 50px;}
    #banner .banner-buttons{margin-bottom:50px;}
    #banner p{font-size: 18px;}
    #banner .bottomtag{left:0px;bottom:-45px;margin:0 20%;}
    #banner span{padding: 10px 6px;font-size: 24px;margin-right:10px;margin-left:10px;}
    #banner .spanbox2::after{top:-25px;right:-4px;}
    #banner h1{font-size:32px;line-height: 45px;}
    #banner .banner-buttons .btn1, #banner .banner-buttons .btn2, #banner .banner-buttons .btn3{display:block;margin-bottom:35px;}
}

/* hm trust */
#hmtrust{background:url(../../assets/img/innovationbg.png) top center no-repeat;height:auto;background-size:cover;}
#hmtrust .trustbox img{margin: 50px auto;}
#hmtrust .trustbox {text-align: center;padding: 44px 40px;border-radius: 10px;margin-bottom: 30px;}
#hmtrust .trustbox.boxorange{border:3px solid #fcd7df;}
#hmtrust .trustbox.boxgreen{border:3px solid #c9f3e2;}
#hmtrust .trustbox.boxcream{border:3px solid #f2d5ba;}
#hmtrust .innovativeteam,#hmtrust .whatwedo{padding-top: 100px;}
#hmtrust .whatwedo .dobox{text-align: center;background-color: #fff;padding:35px 30px;border-radius: 20px;box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.05);margin-bottom: 28px;}
#hmtrust .innovativeteam,#hmtrust .whatwedo .dobox img{margin-bottom: 50px;}
#hmtrust img{margin-top: 40px;}
#hmtrust .whatwedo .row2{margin-top: 70px;}
#hmtrust .whatwedo .row3{margin-top: 140px;}
#hmtrust .whatwedo  .fa{font-size: 30px;color:#c04ae2;}
@media (max-width:991px){
    #hmtrust .whatwedo .row2{margin-top: 0px;}
    #hmtrust .whatwedo .row3{margin-top: 0px;}
}
@media (max-width:767px){
    #hmtrust, #hmtrust h2.text-right{text-align: center;}
    #hmtrust img{margin-top: 60px;}
}

/* hm projects */
#hmprojects{background:url(../../assets/img/projectbg.png) top center no-repeat;height:auto;background-size:cover;}
#hmprojects .projectbox{margin-bottom: 100px;}
#hmprojects .projectbox .content{padding: 80px 0px;}
#hmprojects h4{font-size: 24px;font-weight: 800;margin-bottom: 15px;}


h6.goto::after{content: '';border-bottom: 2px solid #c04ae2;position: absolute;width: 100%;left: 0;bottom: -10px;}
@media (max-width:1199px){
    #hmprojects .projectbox .content{padding: 40px 0px;}
}
@media (max-width:991px){
    #hmprojects .projectbox .content{padding: 0px 0px;}
}
@media (max-width:767px){
    #hmprojects .projectbox{margin-bottom: 0px;}
    #hmprojects .projectbox .content{text-align: center;margin-top: 40px;}
    #hmprojects .projectbox{padding: 0px;margin-bottom: 90px;}
}

/* hm team */
#hmteam{background:url(../../assets/img/teambg.png) top center no-repeat;height:auto;background-size:cover;}
#hmteam .mart img{margin-top: 40px;}
#hmteam img{margin-bottom: 40px;}
#hmteam h6{font-family: 'Roboto', sans-serif;color: #adb0ba;font-weight: 400;font-size: 18px;margin: 0px;}
@media (max-width:991px){
    #hmteam {text-align: center;}
    #hmteam .mart img{margin-top: 0px;}
    #hmteam h6{margin-bottom: 70px;}
}

.testimonial{padding-top: 150px;}
.testimonial .testimonialbox{padding-top: 180px;}
.testimonial .testimonialbox #testimonial-slider{position: relative;}
.testimonial .testimonialbox #testimonial-slider::before{content: "";background: url(../../assets/img/quoteicon.png) top center no-repeat;left: -100px;right: 0;position: absolute;width: 80px;height: 64px;}
.testimonial h5{position: relative;left: 40px;}
.testimonial h5::before{content: "";width: 20px;border-bottom:4px solid #332e98;position: absolute;top: 42%;left: -40px;}
.testimonial h5 span{font-family: 'Roboto', sans-serif;color: #adb0ba;font-weight: 400;font-size: 18px;margin: 0px;margin-left: 20px;}
.testimonial .owl-theme .owl-controls{text-align: left;}
.testimonial .owl-theme .owl-controls .owl-page span{background-color: #c04ae2;opacity: 1;}
.testimonial .owl-theme .owl-controls .owl-page.active span{width:30px;}
@media (max-width:1199px){
    .testimonial .testimonialbox #testimonial-slider::before{left: 15px;top: -90px;}

}
@media (max-width:991px){
    .testimonial .owl-theme .owl-controls{text-align: center;}
    .testimonial .testimonialbox{padding-top:0px;padding-bottom: 80px;}
    .testimonial{padding-top:50px;}
    .testimonial h5::before{left: 20%;}
    .testimonial .testimonialbox #testimonial-slider::before{left: 0;top: -90px;right: 0;margin: 0 auto;}
}

/* hm contact */
#contact{background:url(../../assets/img/contactbg.png) top center no-repeat;height:auto;background-size:cover;}
#contact h3{font-weight: 800;}
#contact .contactsec h5{font-size: 21px;margin-top:0px;margin-bottom: 15px;}
#contact .fa{font-size: 25px;text-align: center;color: #fff;padding: 25px;border-radius: 100%;width: 70px;margin-top: 5px;}
#contact .fa-phone{background-color: #fe6686;}
#contact .fa-envelope{background-color: #54d6a1;}
#contact .fa-map-marker{background-color: #fe9a3f;}
#contact .contactinfo a{color: #111111;transition: 0.2s ease;}
#contact .contactinfo a:hover{color: #c04ae2;}
@media(max-width:767px){
    #contact p.contact{margin-top: 50px;}
}

/* blog */
#blog{background:url(../../assets/img/blogbg.png) top center no-repeat;height:auto;background-size:cover;}
#blog h3{font-weight: 600;line-height: 36px;}
#blog .blogbox{background-color: transparent;padding: 45px 25px;border:1px solid #b3bed1;border-radius: 15px;transition: 0.25s ease-in;margin-bottom: 30px;}
#blog .blogbox:hover{background-color: #fff;}
#blog .blogbox h5{display: inline;}
#blog .blogbox h4{margin-bottom: 15px;}
#blog .blogbox img{margin-right: 10px;margin-top:-12px;}
#blog .blogbox span{color:#adb0ba;font-size: 18px;font-family: 'Roboto', sans-serif;}
#blog .text-right{margin-top: 100px;}
@media (max-width:991px){
    #blog{text-align: center;}
}

/* footer */
#footer{padding: 150px 0px 70px;}
#footer ul.getintouch li .fa{margin-top: 8px;margin-right: 18px;width: 10px;}
#footer strong{color: #111111 !important;}
#footerbottom p{font-family: 'Roboto', sans-serif;font-size: 18px;}
#footerbottom p strong{font-family: 'Overpass', sans-serif;}
#footerbottom p a{color:#111111;}
#footerbottom .socialicons{margin-left: 50px;}
#footerbottom .socialicons a{margin: 0 5px;}
@media (max-width:767px){
    #footer{text-align: center;padding: 70px 0px 40px;}
    #footer img{left: 0;right: 0;margin: 0 auto;}
    #footer ul{text-align: center;}
    #footer ul li{display: block;}
    #footerbottom{text-align: center;}
    #footerbottom p{margin-bottom: 15px;}
    #footerbottom .socialicons{margin-left: 10px;}
}